<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SportsSquares.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFFED9971E8E1CFA009F4368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFED9AB1E8E1CFB009F4368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFED9B61E8E1CFB009F4368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
